/* face_holding_back_tears */
.diversityEmojiItemImage__4387d[src='/assets/f2e5d8cf525a4550e1b1.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.image__7ab81[src='/assets/f2e5d8cf525a4550e1b1.svg'], .image__7ab81[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.emoji__92b46[src='/assets/f2e5d8cf525a4550e1b1.svg'], .emoji__92b46[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.emojiImage__152dd[src='/assets/f2e5d8cf525a4550e1b1.svg'], .emojiImage__152dd[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.image__6fed8[src='/assets/f2e5d8cf525a4550e1b1.svg'], .image__6fed8[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.icon_babf0a[src='/assets/f2e5d8cf525a4550e1b1.svg'], .icon_babf0a[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.emoji__32c91[src='/assets/f2e5d8cf525a4550e1b1.svg'], .emoji__32c91[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.roleIcon__59ca1[src='/assets/f2e5d8cf525a4550e1b1.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'], 
.emoji[src='/assets/f2e5d8cf525a4550e1b1.svg'], .emoji[style*='background-image: url("/assets/f2e5d8cf525a4550e1b1.svg")'] {
	background: transparent !important;
	content: url("https://kosmaaa.github.io/olddiscordemoji/emojis/emoji/people/face_holding_back_tears.png") !important;
}
	/* pleading_face */
.diversityEmojiItemImage__4387d[src='/assets/f3f159b921f71864327c.svg'], .diversityEmojiItemImage__4387d[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.image__7ab81[src='/assets/f3f159b921f71864327c.svg'], .image__7ab81[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.emoji__92b46[src='/assets/f3f159b921f71864327c.svg'], .emoji__92b46[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.emojiImage__152dd[src='/assets/f3f159b921f71864327c.svg'], .emojiImage__152dd[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.image__6fed8[src='/assets/f3f159b921f71864327c.svg'], .image__6fed8[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.icon_babf0a[src='/assets/f3f159b921f71864327c.svg'], .icon_babf0a[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.emoji__32c91[src='/assets/f3f159b921f71864327c.svg'], .emoji__32c91[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.roleIcon__59ca1[src='/assets/f3f159b921f71864327c.svg'], .roleIcon__59ca1[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'], 
.emoji[src='/assets/f3f159b921f71864327c.svg'], .emoji[style*='background-image: url("/assets/f3f159b921f71864327c.svg")'] {
	background: transparent !important;
	content: url("https://kosmaaa.github.io/olddiscordemoji/emojis/emoji/people/pleading_face.png") !important;
}
