/* face_holding_back_tears */
.diversityEmojiItemImage__644ce[src='/assets/d72d6035d1d3bbe150c7.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.image__43623[src='/assets/d72d6035d1d3bbe150c7.svg'], .image__43623[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.emoji__92b46[src='/assets/d72d6035d1d3bbe150c7.svg'], .emoji__92b46[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.emojiImage__5f111[src='/assets/d72d6035d1d3bbe150c7.svg'], .emojiImage__5f111[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.image__10784[src='/assets/d72d6035d1d3bbe150c7.svg'], .image__10784[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.icon_a88807[src='/assets/d72d6035d1d3bbe150c7.svg'], .icon_a88807[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.emoji__32c91[src='/assets/d72d6035d1d3bbe150c7.svg'], .emoji__32c91[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.roleIcon__92480[src='/assets/d72d6035d1d3bbe150c7.svg'], .roleIcon__92480[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'], 
.emoji[src='/assets/d72d6035d1d3bbe150c7.svg'], .emoji[style*='background-image: url("/assets/d72d6035d1d3bbe150c7.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Apple/people/face_holding_back_tears.png") !important;
}
/* pleading_face */
.diversityEmojiItemImage__644ce[src='/assets/3b12ba6d109c8d34cddc.svg'], .diversityEmojiItemImage__644ce[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.image__43623[src='/assets/3b12ba6d109c8d34cddc.svg'], .image__43623[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.emoji__92b46[src='/assets/3b12ba6d109c8d34cddc.svg'], .emoji__92b46[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.emojiImage__5f111[src='/assets/3b12ba6d109c8d34cddc.svg'], .emojiImage__5f111[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.image__10784[src='/assets/3b12ba6d109c8d34cddc.svg'], .image__10784[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.icon_a88807[src='/assets/3b12ba6d109c8d34cddc.svg'], .icon_a88807[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.emoji__32c91[src='/assets/3b12ba6d109c8d34cddc.svg'], .emoji__32c91[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.roleIcon__92480[src='/assets/3b12ba6d109c8d34cddc.svg'], .roleIcon__92480[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'], 
.emoji[src='/assets/3b12ba6d109c8d34cddc.svg'], .emoji[style*='background-image: url("/assets/3b12ba6d109c8d34cddc.svg")'] {
	background: transparent !important;
	content: url("https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/emojis/Apple/people/pleading_face.png") !important;
}
