/* emoji 80px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/ff1aaec09347a7b23f48.png")'] {
	background-image: url("https://kosmaaa.github.io/olddiscordemoji/spritesheets/spritesheet2.png") !important;
}

/* emoji 96px */
.emojiSpriteImage_ebfd77[style*='background-image: url("/assets/eb34899f42bbb8c0cf9c.png")'] {
	background-image: url("https://kosmaaa.github.io/olddiscordemoji/spritesheets/spritesheet.png") !important;
}

/* picker  */
.sprite__294b3 {
	background-image: url("https://kosmaaa.github.io/olddiscordemoji/spritesheets/picker2.png") !important;
}
