/* emoji 80px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/ca08a028c938ce8c89a3.png")'] {
	background-image: url("https://kosmaaa.github.io/olddiscordmeoji/spritesheets/spritesheet.png") !important;
}

/* emoji 96px */
.emojiSpriteImage__6363e[style*='background-image: url("/assets/475a19177a02fef89cd1.png")'] {
	background-image: url("https://kosmaaa.github.io/olddiscordemoji/spritesheets/spritesheet2.png") !important;
}

/* picker  */
.sprite__294b3 {
	background-image: url("https://kosmaaa.github.io/olddiscordemoji/spritesheets/picker2.png") !important;
}
